notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/
all_content_2020_v4.csv
all_content_2020.csv
files/all_content_2020_v5.csv
files/var_desc_et_nan.csv
files/df_nan_TP6020.csv
files/dataframe_complet.csv
notebooks/pauvrete_model.pkl
